*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  
    
}

body{
  position: relative;
  overflow-x: hidden;
  background-color: rgb(10,10,22);
}

main{
  position: absolute;
}

@font-face{
  src: url(./Materials/fonts/avanir/AvenirNextLTPro-Bold.otf);
   font-family:aveBold;
   src: url(./Materials/fonts/gilroy/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
   font-family: gilroy;
   src: url(./Materials/fonts/Cera-Pro/CeraRoundProDEMO-Regular.otf);
   font-family: cera;
}

#introPage{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden !important;
    
}


.introVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.introText1{
    width: 53%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size:7vw;
    font-family:gilroy;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-shadow: 4px 4px black;
    overflow: hidden;
}

.introText2{
  width: 19.3%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: yellow;
  font-size:1.8vw;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 900;
  position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
  text-shadow: 4px 4px black;
  overflow: hidden;
 
 
}


#logo {
    color: white;
    font-family: 'Stalemate', cursive;  
    
  }
  .logoo{
    margin-left:5%;
    z-index: 100;
  }
  .nav-header {
    min-height: 10vh;
    font-size: 3rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: white;
    width: 100%;
    margin: auto;
    padding: 2rem 0rem;
    z-index: 2;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: hidden;
    
  }
  .line1,
  .line2 {
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
    pointer-events: none;
    z-index: 100;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1;
    opacity: 1;
    clip-path: circle(50px at 100% -10%);
    
  }
  
  .burger {
    cursor: pointer;
    margin-right: 5%;
    min-height: 5vh;
    z-index: 100;
  }

  .nav-img{
      width: 50%;
      height: 100vh;
      position: relative;
      overflow: hidden;

  }

  .nav-contant{
      width: 50%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items:center;
      padding: 30px;
      color: red;
      text-decoration: none;
    
      
      
  }

  .img1{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .ul-nav{
      min-height: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      font-size: calc(1.8rem + 1vw);
      font-family: 'Cormorant Garamond', serif;
      font-weight: 600;
      margin-top: 60px;
 
      
      
    

  }

  .nav-bar{
    background-color: black;
    
   
  }

  .nav-overlayer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;

  }
  
   .nav-link{
      color: whitesmoke;
      text-decoration: ivory;
   }

  .nav-link:hover{
  
    font-size: calc(2.3rem + 1vw);
    color: brown;
    
  }

  .nav-overlayeranimation{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
  

  }
  


  #aboutPage{
    height: 100vh;
    width: 100vw;
    background-image: url("./Materials/photos/pexels-ave-calvar-martinez-3497624.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden !important;
  }
  .aboutOverlay{
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0px;
     left: 0px;
     background-color: rgb(10, 10, 22);
    
  }

  .aboutContent{
    
    width:65%;
    max-height:60%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     margin-top: 2.5rem;
     display: flex;
     justify-content: flex-end;
     position: relative;
     overflow: hidden !important;
    }
   
   
  .aboutImage{
    max-width:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.3;
   
    
   
   
   
  
  }

  .aboutimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  
    
  }

   
  

  .aboutText{
    display: flex;
    flex-direction: column;
    z-index: 20;
    font-size:2vw;
    color:white;
    position: absolute;
    top: 7%;
    left: 5%;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 5px 5px black;
    clip-path: circle(0%  at 20% 20%);
    overflow: hidden;
    height: 100%;
  }

  .resumeButt{
     
    max-width:55%;
     max-height: 60%;;
     font-size: 1.42vw;
     color:black;
     border: none;
     border-radius: 15%;
   
    
  }
  .r{
    width: 100%;
    height: 100%;
    font-size: 1.42vw;
    align-items: center;
    padding: 11px;
    background-color: yellow;
    color:black;
    border: none;
    margin-top: 5px;
    border-radius:15px;
    cursor: pointer;
  }
  .insidebutt{
    display: flex;
    align-items: center;
   
  }
  
  .r:hover{
    text-shadow: 6px 6px 6px black;
    transition: all 0.4s ease 0s;
  }
  .butts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
 
 }  
 .mid{
   width:5px;
 }
  .aboutEdit{
    color: yellow;
  }
  .insideText{
    height: 10%;
  }
  .transitionBetweenPages{
    width: 100vw;
    height: 100vh;
    background-color: rgb(16, 16, 36);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 6;
    overflow: hidden;
  }

  
.transitionLogo{
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;    
  padding: 2.5%;
  border: 2.5px dotted #EB2188;
  box-shadow:8px 8px black;
  overflow: hidden;
  
}


.logoText{
  color: white;
  font-family: 'Stalemate', cursive;
  font-size: 8vw;
  text-shadow: 11px 11px black;
  text-align: center;
  font-weight: 600;
  border: 5px 5px solid red;
  margin-top: 3%;
  margin-right: 2%;
  
}

.logoOverlay{
  width: 100%;
  height: 20%;
  background-color:rgb(16, 16, 36) ;
  position: absolute;
  top: 11%;
  left: 0;
}
.logoOverlay2{
  width: 100%;
  height: 20%;
  background-color:rgb(16, 16, 36) ;
  position: absolute;
  top: 30%;
  left: 0;
}
.logoOverlay3{
  width: 100%;
  height: 20%;
  background-color:rgb(16, 16, 36) ;
  position: absolute;
  top: 49%;
  left: 0;
}
.logoOverlay4{
  width: 100%;
  height: 20%;
  background-color:rgb(16, 16, 36) ;
  position: absolute;
  top: 60%;
  left: 0;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  overflow: hidden;
}
.swipe1 {
  background: rgb(167, 110, 231);
  z-index: 5;
}
.swipe2 {
  background: rgb(86, 124, 228);
  z-index: 4;
}
.swipe3 {
  background: rgb(255, 139, 93);
  z-index: 3;
}

.m{
   color: rgb(167, 110, 231);
}

.h{
 
   color:rgb(255, 139, 93) ;  
}

.dot{
  color:rgb(86, 124, 228);
}

/*.....................SEcond page css..............................*/

#contactPage{
  width: 100vw;
  height: 100vh;
  background-image: url(../Materials/photos/pexels-kaique-rocha-125510.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.contactPageOverlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 22);
  opacity: 0.7;
  
 
}

.contact{
  width:30%;
  max-height:75%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
   margin-top: 3%;
   display: flex;
   border-radius: 800px;
   overflow: hidden !important;
   position: relative;
  
   
}

.contact:hover{
  box-shadow: 4px 4px  rgb(10, 10, 22);

}

.contactImg{
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   opacity: 0.65;

 
}


.contactContainer{
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
  overflow: hidden;
  
}
.githubArrow{
   position: absolute;
   top:26.8%;
   left: 34.7%; 
   background-color:blueviolet;
   transform: rotate(120deg);
   }

.LinkinArrow{
    position: absolute;
    top:16%;
    left: 57.6%; 
    background-color:rgb(113, 173, 241);
    transform: rotate(-120deg);
    }
.facebookArrow{
      position: absolute;
      top:48%;
      left: 68.5%; 
      background-color:rgb(113, 173, 241);
      transform: rotate(90deg);
    }

.twitterArrow{
  position: absolute;
  top:78.8%;
  left: 61.8%;
  background-color:black;
  transform: rotate(150deg);

}

.gmailArrow{
  position: absolute;
  top:70%;
  left: 34.5%;
  background-color:rgb(127, 255, 238);
  transform: rotate(-300deg);

}
      
.miniCircles{
   width:10.5% ;
   height:14%;
   border-radius:50%;
  position: relative;
  overflow: hidden;

 
}

.miniCircles:hover{
  box-shadow:5px 5px black ;
  transition: all 1s ease-in-out;
}

.logoImg{
 max-width: 100%;
 max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}



.githubContact{
     position: absolute;
     top:30%;
     left: 31.5%; 
}

.LinkinContact{
  position: absolute;
  top:19%;
  left: 50%; 
}

.gmailContact{
  position: absolute;
     top:66%;
     left: 32%;
}

.twitterContact{
  position: absolute;
  top:78%;
  left: 51%;

}


.facebookContact{
  position: absolute;
  top:48%;
  left: 60%; 
}


.projects-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./Materials/photos/15.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  
}
.containerr .todo {
  display: none;
}
.containerr .res {
  display: none;
}
.containerr .resume {
  display: none;
}
.containerr .travel {
  display: none;
}
.containerr .beat {
  display: none;
}
.containerr .market {
  display: none;
}
.containerr .gym {
  display: none;
}
.containerr .thread {
  display: none;
}
.containerr .RN {
  display: none;
}
.containerr .LZW {
  display: none;
}
.containerr .Sedia {
  display: none;
}
.containerr .Jfree {
  display: none;
}
.wrapperr {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  
  overflow-y: hidden;
  margin-top: 4.8%;
}
.containerr {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0%;
  overflow-y: hidden;
}
.slide {
  width: 78%;
  height: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.slidee {
    width: 100%;
  max-height: 100%;
  opacity: 1;
  cursor: pointer;
  filter: brightness(80%);
  overflow-y: hidden;
}
.slidee:hover {
  border-style: groove;
  border-width: 0.3rem;
  border-color: #b34854;
  opacity: 0.8;
}
.text {
  top: 7%;
  position: absolute;
  text-align: center;
  left: 0%;
  width: 100%;
  z-index: 50;
}
.text1 {
  font-size: calc(30px + 1vw);
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  color: #b34854;
  text-shadow: 5px 5px black ;

  animation: text 2s 1;
  z-index: 50;
}
.text span {
  text-transform: uppercase;
  display: block;
}
.text2 {
  font-size: calc(10px + 1vw);
  color:#EC8B5E ;
  z-index: 50;
  text-shadow: 2px 2px black ;
}
@keyframes text {
  0% {
    color: #222222;
    margin-bottom: -41px;
  }
  30% {
    letter-spacing: 20px;
    margin-bottom: -41px;
  }
  85% {
    letter-spacing: 5px;
    margin-bottom: -41px;
  }
}

.dots {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.dots .dot {
  background-color: #f9f5f3;
  height: 14px;
  width: 14px;
  border: 1px solid #b34854;
  border-radius: 50%;

  margin: 0 8px;
  transition: 400ms;
}
.dot.active {
  background-color: #b34854;
}
#Next,
#Prev {
  font-size: calc(150px + 1vw);

  color: #b34854;

  cursor: pointer;
  transition: 400ms;
}
#Next:hover,
#Prev:hover {
  color: #f99b92;
}
.projects-section .des {
  position: absolute;
  z-index: 600;
  border: 1px solid #f9f5f3; 
  border-radius: 4px;
  border-width: 5px;
  padding: 5px;
  background-color: #aaa4a1;


  min-width: 60%;
  max-height: 90%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
  border-radius: 1%;
  overflow: hidden;
}
h3 {
  text-align: center;
  margin-top: 0%;
  font-size: calc(40px + 1vw);
  font-family: "Sansita Swashed", cursive;
  letter-spacing: 5px;
  color: #222222;
}
.fa-times-circle {
  font-size: 30px;
  color: #f9f5f3;
  margin-left: 95.6%;
  cursor: pointer;
  margin-top: 1.3%;
  z-index: 600;
  
}
.fa-times-circle:hover {
  scale: 1.5;
  transition: 0.5s;
  color: #b34854;
}
.desc h5 {
  text-align: center;
  margin-top: 4%;
  font-size: calc(10px + 1vw);
  font-family: "Sansita Swashed", cursive;
  letter-spacing: 5px;
  color: #222222;
}
.Rec {
  color: #f9f5f3;
}

.btn {
  border: 1px solid #f9f5f3;
  background: none;
  padding: 10px 30px;

  font-size: calc(15px + 1vw);
  color: #222222;
  cursor: pointer;
  font-family: "Kaushan Script", cursive;
  /* transition: 0.8s;*/
  margin-left: 38%;
  margin-top: 1.5%;
  text-align: center;
  z-index: 600;
}
.btn:hover {
  color: #f3f5f7;
}
.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: #b34854;
  z-index: -1;
  transition: 1s;
  bottom: 0;
  left: 0%;
  /* border-radius: 50% 50% 0 0;*/
}
.btn:hover::before {
  height: 100%;
}


@media (max-width: 768px) {
  .containerr .slide .text {
    top: 15%;
    position: absolute;
    text-align: center;
    left: 0%;
    width: 100%;
  }
  .text1 {
    font-size: calc(28px + 1vw);
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
    color: #b34854;
    background-color: #f9f5f3;
    animation: text 2s 1;
  }
  .text span {
    text-transform: uppercase;
    display: block;
  }
  .text2 {
    font-size: calc(10px + 1vw);
    color: #222222;
  }

  .wrapperr {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f5f3;
    overflow: hidden;
  }
  .containerr {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0%;
  }
  .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .slidee {
    width: 100%;
    height: 100%;
    opacity: 1;
    cursor: pointer;
    filter: brightness(80%);
  }
  .slidee:hover {
    border-style: groove;
    border-width: 0.3rem;
    border-color: #b34854;
    opacity: 0.8;
  }
  #Next,
  #Prev {
    font-size: calc(50px + 1vw);

    color: #b34854;

    cursor: pointer;
    transition: 400ms;
  }
  #Next:hover,
  #Prev:hover {
    color: #f99b92;
  }
  body .projects-section .des {
    position: absolute;
    z-index: 101;
    border: 1px solid #f9f5f3; /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    border-width: 5px;
    padding: 5px;
    background-color: #aaa4a1;
    bottom: 100%;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    border-radius: 1%;
  }
  .des .proname h3 {
    text-align: center;
    margin-top: 0%;
    font-size: calc(30px + 1vw);
    font-family: "Sansita Swashed", cursive;
    letter-spacing: 5px;
    color: #222222;
  }
  .fa-times-circle {
    font-size: 30px;
    color: #f9f5f3;
    margin-left: 92%;
    cursor: pointer;
    margin-top: 0.4%;
  }
  .des .fa-times-circle:hover {
    scale: 1.5;
    transition: 0.5s;
    color: #b34854;
  }
  .desc h5 {
    text-align: center;
    margin-top: 4%;
    font-size: calc(10px + 1vw);
    font-family: "Sansita Swashed", cursive;
    letter-spacing: 5px;
    color: #222222;
  }
  .Rec {
    color: #f9f5f3;
  }
  .projects-section .des button {
    /*position: absolute;*/
    margin-left: 30%;
    margin-top: 2%;
    text-align: center;
  }
  .btn {
    border: 1px solid #f9f5f3;
    background: none;
    padding: 10px 30px;

    font-size: calc(15px + 1vw);
    color: #222222;
    cursor: pointer;
    font-family: "Kaushan Script", cursive;
    margin-top: 10% !important;
  
    /* transition: 0.8s;*/
  }
  .des .btn:hover {
    color: #f3f5f7;
  }
  .des .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #f99b92;
    z-index: -1;
    transition: 1s;
    bottom: 0;
    left: 0%;
    /* border-radius: 50% 50% 0 0;*/
  }
  .des .btn:hover::before {
    height: 100%;
  }
}
@media (min-width:100px) and (max-width: 700px) {
  .containerr .slide .text {
    top: 15%;
    position: absolute;
    text-align: center;
    left: 6%;
    width: 90%;
  }
  .text .text1 {
    font-size: calc(25px + 1vw);
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
    color: #b34854;
    background-color: #f9f5f3;
    animation: text 2s 1;
  }
  .text span {
    text-transform: uppercase;
    display: block;
  }
  .text2 {
    font-size: calc(15px + 1vw);
    color: #222222;
  }

  .wrapperr .containerr {
    height: 32%;
  }

 body .projects-section .des {
    position: absolute;
    z-index: 101;

    border: 1px solid #f9f5f3; /* Gray border */
    border-radius: 4px;

    border-width: 5px;
    padding: 5px;
    background-color: #aaa4a1;
    min-width: 65%;
    min-height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
    border-radius: 1%;
  }
  .des .proname h3 {
    text-align: center;
    margin-top: 0%;
    font-size: calc(10px + 1vw);
    font-family: "Sansita Swashed", cursive;
    letter-spacing: 5px;
    color: #222222;
  }

  .projects-section .des .fa-times-circle {
    font-size: 20px;
    color: #f9f5f3;
    margin-left: 95%;
    cursor: pointer;
    margin-top: 0.1%;
    width: 5%;
  }
  .fa-times-circle:hover {
    scale: 1.5;
    transition: 0.5s;
    color: #b34854;
  }
  .des .desc h5 {
    text-align: center;
    margin-top: 5%;
    font-size: calc(8px + 1vw);
    font-family: "Sansita Swashed", cursive;
    letter-spacing: 5px;
    color: #222222;
  }
  .Rec {
    color: #f9f5f3;
  }

  .des .desc .btn {
    border: 0.5px solid #f9f5f3;
    background: none;
    padding: 5px 10px;

    font-size: calc(10px + 1vw);
    color: #222222;
    cursor: pointer;
    font-family: "Kaushan Script", cursive;
    margin-left: 30%;
    margin-top: 7%;
    text-align: center;
    /* transition: 0.8s;*/
  }
  .btn:hover {
    color: #f3f5f7;
  }
  .btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #b34854;
    z-index: -1;
    transition: 1s;
    bottom: 0;
    left: 0%;
    /* border-radius: 50% 50% 0 0;*/
  }
  .btn:hover::before {
    height: 100%;
  }
}
